body {
    background-color: #eee;
}

.container {
    width: 80%;
    margin-top: 20px;
}

#detailed-item-card {
    background-color: #eee;
    padding-left: 0px;
}

#detailed-item-card > .col:first-of-type {
    padding: 0px;
}

.col .carousel {
    height: 500px;
}

#item-seller-info .col {
    height: 300px;
}

#item-info {
    background-color: #00ff00;
    width: 60%;
    margin-right: 2%;
}

#seller-info {
    background-color: #ff0000;
    width: 38%;
}

@media (max-width: 1000px) {
    .container {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        margin-top: 0px;
    }

    #item-info {
        width: 100%;
        margin-right: 0px;
    }

    #seller-info {
        width: 100%;
    }
}