body {
  font-family: "Oxygen", sans-serif;
}

/*NAVBAR*/

#dropdown-help {
    margin-top: 64px;
}

nav {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: #fff;
    border-bottom: solid 2px black;
}

nav .brand-logo {
    color: black;
}

nav ul a {
    color: black;
}

nav ul li:hover {
    background-color: rgba(0, 0, 255, 0.3);
}

i.right {
    margin: 0px;
}

.profile {
    margin-left: 10px;
}



/*Launch page*/

.profile-dropdown-icon {
    padding-left: -100px;
}


#landing-page-header-text {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    font-style: bold;
}

#signature-landing-page-header {
    font-size:7px;
}