html, body {
  font-family: "Oxygen", sans-serif;
  height: 100%;
  width: 100%;
}


/*Launch page*/
.slider {
    z-index: 1;
    height: 550px !important;
}

.slides {
    height: 550px !important;
}

.slider h3 {
    text-shadow: 0px 1px 10px #000;
}

.slider h5 {
    text-shadow: 0px 5px 10px #000;
}

.profile-dropdown-icon {
    padding-left: -100px;
}

.slider .indicators {
    display: none;
}
