html, body {
    font-family: "Roboto", sans-serif;
    /*footer stuff*/
    display: flex;
    height: 100%;
    flex-direction: column;
}

main {
    /*flex: 1 0 auto;*/
}

/*Fonts*/

.bold-caption {
    font-size: 80px;
    font-weight: 900;
    color: #fff;
}

.caption-text-below {
    font-size: 17px;
    color: #fff;
}

/*fading blurbs */

.main-info-container {
    height: 200px;
    margin: 100px 10% 100px 10%;
}

.main-info-left {
    display: none;
    width: 50%;
}

.main-info-right {
    display: none;
    float: right;
    width: 50%;
    text-align: right;
}

.main-info-right h3 {
    margin-top: 0px;
}

/*search box*/

.search-container {
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 10%;
    margin-right: 10%;
    padding: 40px 40px 40px 40px;
}

.search-container .row {
    margin-bottom: 0px;
}

#optional-blurb {
    margin: 0px;
    color: rgba(0, 0, 0, 0.4);
    padding-left: 15px;
    font-size: 10px;
}

#search-container-blurb {
    margin-bottom: 100px;
    padding-right: 50%;
    color: #fff;
}

input[type=text] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    background-color: #fff;
}

label {
    color: rgba(0, 0, 0, 0.7);
}

.text-core {
    height: 47px;
}

.text-wrap {
    height: 47px;
}

input[type=text]:focus:not([readonly]) {
    outline: 0 none;
    box-shadow: 0 0 5px rgba(0, 100, 255, 1);
    border: 1px solid rgba(0, 100, 255, 1);
}

#search-button-main-page {
    margin-top: 20px;
    height: 48px;
    line-height: 48px;
    width: 100%;
    background-color: #039BE5;
}

/*parallax */

.parallax-container {
    height: 700px;
}

.blur-me {
     filter: brightness(70%) contrast(70%);
}

#parallax-first-container {
    background-color: #039BE5;
}

/*Launch page*/

.profile-dropdown-icon {
    padding-left: -100px;
}

.slider .indicators {
    display: none;
}

.tagging-system-image {
    margin-right: 50%;
}

.splash-icons {
    color: #2bbbad;
}

/*footer*/

footer .page-footer {
    margin-top: 0px;
}


/* card view*/
.card .card-title {
    font-size: 16px;
}

.card .card-image {
    height: 200px;
}


.card {
    margin: 20px 10px 20px 10px;
    position: relative;
    width: 400px;
}

.card-contact {
    position:absolute;
    bottom: 30px;
    width: 88%
}

.card-view-hub {
    float: right;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.find-result-price {
    position: absolute;
    left: 0%;
    top: 0%;
    color: black;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    font-size: 1.1rem;
    z-index: 3;
    color: #fff;
    pointer-events: none;
}

.find-result-favorite {
    position: absolute;
    top: 1%;
    right: -3%;
    z-index: 3;
}

.find-result-favorite-image {
    width: 75%;
    height: auto;
    opacity: 0.3;
    cursor: pointer;
}


/*Scroll container*/

.scroll-object {
    height: 400px;
    display: flex;
}

.outside-scroll-container {
    width: 80%;
    overflow: scroll;
}

.inside-scroll-container {
    width: 6000px;
    height: 400px;
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.left-scroll-arrow-container {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-scroll-arrow-container {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-button {
    cursor: pointer;
    user-select: none;
}

.scroll-blurb p {
    margin: 30px 0px 0px 10%;
    padding-left: 10px;
    font-size: 19px;
}

.see-more-card {
    height: 310px;
    width: 400px;
    background-color: #039BE5;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 1px rgba(0,0,0,0.23);
}

.see-more-card p {
    font-size: 19px;
    color: #fff;
}

.section {
    padding: 0px;
}