html, body {
    font-family: "Oxygen", sans-serif;
    /*footer stuff*/
    display: flex;
    height: 100%;
    flex-direction: column;
}

main {
    /*flex: 1 0 auto;*/
}

#main-page-search {
    margin-top: 200px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fff;
    height: 200px;
}

/*parallax */

.parallax-container {
    height: 600px;
}

/*Launch page*/

.profile-dropdown-icon {
    padding-left: -100px;
}

.slider .indicators {
    display: none;
}

.tagging-system-image {
    margin-right: 50%;
}

.splash-icons {
    color: #2bbbad;
}

/*footer*/

footer.page-footer {
    margin-top: 0px;
}
