html, body {
    height: 100%;
    background-color: #eeeeee;
}

#find-body {
    height: 100%;
    width: 100%;
}

#find-content {
    background-color: #fff;
    min-height: 400px
}

/*results of search*/

.card .card-title {
    font-size: 16px;
}

.card .card-image {
    height: 200px;
}


.card {
    margin: 20px 10px 20px 10px;
    position: relative;
}

.find-result-price {
    position: absolute;
    left: 0%;
    top: 0%;
    color: black;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    font-size: 1.1rem;
    z-index: 3;
    color: #fff;
    pointer-events: none;
}

.find-result-favorite {
    position: absolute;
    top: 1%;
    right: -3%;
    z-index: 3;
}

.find-result-favorite-image {
    width: 75%;
    height: auto;
    opacity: 0.3;
    cursor: pointer;
}

/*search settings*/
#find-search {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px 10px 10px 10px;
}

.search-top {
    margin-bottom: 0px;
}

#search-slider .noUi-tooltip {
    bottom: -200%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.4);
}

#search-slider .noUi-handle {
    height: 17px;
    top: -1px;
}

#search-slider .noUi-handle:after, #search-slider .noUi-handle:before {
    height: 5px;
}

.search-slider-title {
    margin-bottom: 20px;
    font-size: 0.8rem;
    margin-left: 10px;
}

#search-slider .noUi-connect {
    background-color: #F4A49D;
}

#search-slider {
    margin: 0px 10px 20px 25px;
}

#find-search-button {
    color: #fff;
    background-color: #559BFF;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#find-search-button:hover {
    background-color: #66ACFF;
}
/* label color */
.input-field label {
    color: #546A76;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #546A76;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #546A76;
    box-shadow: 0 1px 0 0 #546A76;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.5);
}

#find-search-image {
    margin-top: 30px;
    width: 150px;
    opacity: 0.2;
}

#find-content-presearch {
    text-align: center;
    opacity: 0.6;
}


/*find right panel (favorites*/

#find-favorite-panel {
    background-color: #fff;
    position: fixed;
    top: 84px;
    right: 10px;
    width: 23.5%;
    height: 84.5%;
}

@media screen and (max-width: 993px) {
    #find-favorite-panel {
        display: none;
    }
}

#find-favorite-logged-out {
    margin-top: 50%;
    text-align: center;
    opacity: 0.6;
}