#find-body {
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
}

#find-content {
    margin: 20px 10px 0px 20px;
    background-color: #fff;
    width: 60%;
    min-width: 400px;
}


/*results of search*/
.find-result {
    width: 30%;
    height: 300px;
    min-width: 200px;
}

.card .card-title {
    font-size: 20px;
}

.card .card-image {
    height: 200px;
}

.card {
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

/*search settings*/
#find-search {
    background-color: #fff;
    margin: 10px 20px 10px 20px;
    width: 60%;
    padding: 20px 10px 10px 10px;
}